@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    font-family: "PT Serif";
}

body{
    background-image: url('fondo\ oagina\(3\).webp');
    color:black;

}
#Titulo{
    font-weight: bolder;
    color: #4dc8e7;
    display: flex;
    justify-content: center;

}

nav > h1{
    display: flex;
    justify-content: center;
    color: #4dc8e7;
    font-weight: bolder;
}

#a1{
    font-size: 1.5rem;
    font-weight: bolder;
    color: #4dc8e7;
    margin: 60px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

#a2{
    
    font-weight: bolder;
    font-size: 1.5rem;
    color: #4dc8e7;
    margin: 60px;
    display: flex;
    justify-content: center;
}

#t1{
    
    font-size: 1.5rem;
    font-weight: bolder;
    color: #4dc8e7;
    margin: 60 px;
    display: flex;
    justify-content: center;
}

#t2{
    font-size: 1.5rem;
    font-weight: bolder;
    color: #4dc8e7;
    margin: 60px;
    display: flex;
    justify-content: center;
}

#listaCartas{
    font-weight: bolder;
    font-size: 1.5rem;
    color: #4dc8e7;
    margin-left: 90px;

}

#carouselExampleAutoplaying{
    width: 500px;
    height: 380px;
    margin-left: 400px;
}