



#titulo{
    font-size: 4rem;
    font-weight: bolder;
    color: #09013a;
    margin-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#boton{
    
    font-weight: bolder;
    font-size: 4rem;
    color: #09013a;
    margin-right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}