@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    font-family: "PT Serif";
}

body{
    background-image: url('asdas.gif');
    color:black;
    background-size: contain;
    
    
}
#Titulo{
    font-weight: bolder;
    color: white;
    display: flex;
    justify-content: center;

}

nav > h1{
    display: flex;
    justify-content: center;
    color: white;
}

#a1{

    font-size: 1.4rem;
    color: white;
    margin: 250px;
    display: flex;
    justify-content: center;
    
}

#a2{
    

    font-size: 1.4rem;
    color: white;
    margin: 250px;
    display: flex;
    justify-content: center;
}

#t1{
    

    font-size: 1.4rem;
    color: white;
    margin: 270px;
    display: flex;
    justify-content: center;
}

#t2{

    font-size: 1.4rem;
    color: white;
    margin: 270px;
    display: flex;
    justify-content: center;
}

#listaCartas{
    font-size: 1.5rem;
    color: white;
    margin-left: 400px;

}

#carouselExampleAutoplaying{
    width: 500px;
    height: 380px;
    margin-left: 400px;
}

#titulo2{
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: white;
}

#s1{

    font-size: 1.4rem;
    color: white;
    margin: 250px;
    display: flex;
    justify-content: center;
}
#s2{

    font-size: 1.4rem;
    color: white;
    margin: 250px;
    display: flex;
    justify-content: center;
}
#s3{

    font-size: 1.4rem;
    color: white;
    margin: 250px;
    display: flex;
    justify-content: center;
}
#s4{

    font-size: 1.4rem;
    color: white;
    margin: 250px;
}
#v1{
    margin: 270px;
    height: 400px;
    display: flex;
    justify-content: center;
}

#v2{
    margin: 270px;
    height: 400px;
    display: flex;
    justify-content: center;
}
#v3{
    margin: 270px;
    height: 400px;
    display: flex;
    justify-content: center;
}
#vy1{
    margin: 270px;
    height: 400px;
    display: flex;
    justify-content: center;

}
#vy2{
    margin: 270px;
    height: 400px;
    display: flex;
    justify-content: center;
}
#x1{
    font-size: 1.4rem;
    color: white;
    margin: 250px;
}
#x2{
    font-size: 1.4rem;
    color: white;
    margin: 250px;
}
#q1{
    font-weight: bolders;
    color: white;
    display: flex;
    justify-content: center;
}