{% extends 'TCGPAGE/base.html' %} 




{% block content %}
        
        <h1 id="TP">Carrito</h1>
        <p id="a1">Productos en el Carro : </p>
        
        
        <fieldset id="field">
          
          <table>
              <thead>
                <th>id</th>
                <th>nombre</th>
                <th>imagen</th>
                <th>precio</th>
                <th>cantidad</th>


              </thead>
              <tbody>
                {% for item in request.session.carro %}

                <tr>
                  <td>{{item.idmyl}}</td>
                  <td><a href="{% url 'delToCar' %}">Eliminar</a></td>
                </tr>
                {% endfor %}
              </tbody>


          </table>


        </fieldset>

        <!-- Button trigger modal -->
<button id="B1" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Eliminar Productos
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Productos</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Todos Los productos seran eliminados del carrito <br> ¿Deseas Continuar?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><a href="{% url 'borrarSecion' %}">Eliminar</a></button>
      </div>
    </div>
  </div>
</div>
<button id="B1" type="button" class="btn btn-primary">Ir a Pagar</button>
    <div class="container-fluid"></div>
    
{% endblock %}